* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* MENÚ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9E7B85; /* Color del menú */
    padding: 1em 3em; /* Ajusta el padding para espacio arriba y abajo */

}

.navbar-brand {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}

.navbar-nav.me-auto {
    margin-left: 20em;
}

.navbar-nav.me-auto .nav-item:not(:last-child) {
    margin-right: 6em; /* Aumenta este valor para controlar el espacio entre los enlaces */
}

.navbar a {
    color: #F5D1DB;
}


.navbar-toggler:hover {
    background-color: #D6A7B0; /* Cambia el color de fondo al pasar el mouse */
    border-color: #7E5D63; /* Cambia el color del borde al pasar el mouse */
    border: 1px solid #9E7B85; /* Cambia el color del borde del botón */
    padding: 0;
}

/* PRIMERA SECCIÓN */



/* FOOTER */
#footer{
    background-color: #FBE5E9 ;

    .line {
        height: 2px;
        background-color: #9D8189;
        width: 100%;
     }

    .text-footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
        gap: 10px;
        padding: 40px;
        padding-top: 90px;
        margin-right: 27%;
        margin-left: 27%;
    }

    .column {
        padding: 10px;
    }

    h3{
        font-family: 'Poppins', sans-serif;
        font-size: 0.7em;
        font-weight: 400;
        text-align: center;
    }

    h3.bold{
        font-weight: bold;
    }

    .social-media{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        margin-right: 40%;
        margin-left: 40%;
        padding-bottom: 70px;

    }

    .column-sm{
        text-align: center;
    }
    
  

}

