* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #D6A7B0;
}

/* MENÚ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9E7B85; /* Color del menú */
    padding: 1em 3em; /* Ajusta el padding para espacio arriba y abajo */

}

.navbar-brand {
    color: #D6A7B0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    font-family: 'Lilita One', sans-serif;
    padding-left: 1.5em;
    font-size: 18px
}

.navbar-nav.me-auto {
    margin-left: 20em;
}

.navbar-nav.me-auto .nav-item:not(:last-child) {
    margin-right: 6em; /* Aumenta este valor para controlar el espacio entre los enlaces */
}

/* Cambia el color de los enlaces al pasar el ratón */
.navbar .nav-link:hover {
  color: #F5D1DB !important; /* Cambia a tu color preferido */
  transition: color 0.3s ease; /* Suaviza el cambio de color */
}

/* Cambia el color del enlace activo también */
.navbar .nav-link.active:hover {
  color: #0000008C !important; /* Cambia a tu color preferido */
}

/* Estilo del menú desplegable */
.navbar .dropdown-menu {
  background-color: #F4ACB7; /* Color de fondo */
  border: 2px solid #9D8189;
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 1em 1em 1em #4e3f43; /* Sombra */
}

/* Estilo de cada elemento del menú */
.navbar .dropdown-menu .dropdown-item {
  color: #0000008C; /* Color de texto */
  padding: 0.5em 1.5em; /* Espaciado interno */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición para el hover */
}

/* Hover para los elementos del menú */
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #FF85A2; /* Color de fondo al pasar el ratón */
  color: #fff; /* Color del texto al pasar el ratón */
}

/* Separador del menú */
.navbar .dropdown-menu .dropdown-divider {
  border-color: #FFB6C1; /* Color del separador */
}


/* PRIMERA SECCIÓN */

/* Eliminar márgenes y padding del body */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ajustar la sección de donuts */
.donut-section {
    display: flex;
    height: 40em;
    justify-content: space-between;
    background-color: #fbe6e8;
}

/* Contenedor del texto */
.donut-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    background-color: #f8bfc9; /* Color de fondo igual al fondo de la imagen de los donuts */
    padding: 0;
}

/* Imagen del texto */
.donut-text img {
    max-width: 90%;
    height: auto;
}

/* Estilo del botón de "Order now" */
.order-button {
    padding: 0.5em 1.5em;
    background-color: #7a4d46;
    color: #fff;
    border: none;
    border-radius: 2em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.order-button:hover {
    background-color: #bf7b5c; /* Cambia el color de fondo al hacer hover */
    color: #f5cbd3; /* Cambia el color del texto en el hover */
}



/* Contenedor de la imagen de los donuts */
.donut-image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em;
    background-color: #fbe6e8;
    padding-right: 0em;
}


/* Imagen de los donuts */
.donut-image img {
    max-width: 100%;
    height: auto;
}

/*SEGUNDA SECCION */
/*DONUT DE FRESA */

  /* Estilo para el título de la sección */
  .section-title {
    font-size: 3em;
    margin-bottom: 1em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif;
    padding-top: 1em;
}
  
  /* Contenedor para imagen y texto alineados horizontalmente */
  .info-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3em;
    position: relative;
  }
  
  /* Imagen a la izquierda */
  .info-image {
    width: 30%;
    position: relative;
    z-index: 2; /* Coloca el donut por encima del recuadro */
  }
  
  /* Título y descripción */
  .info-heading {
    font-size: 2.5em;
    color: #000000; /* Color del título */
    margin: 0;
    font-family:'Lilita One', sans-serif ;
    text-align: right;
    position: relative;
    z-index: 2; /* Coloca el título por encima del recuadro */
  }
  
  .info-description {
    font-size: 1em;
    color: #000000;
    line-height: 1.5;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: right;
  }

  .info-section {
    position: relative; /* Necesario para el pseudo-elemento */
    padding: 2rem 5%; /* Mantén tu padding existente */
    text-align: center;
    background-color: #fbe6e8; /* Color de fondo de la sección */
}

/* Hover content */
.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 55%;
    background-color: #F07F98; /* Color rosado sólido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 2em;
    margin-top: 5.5em;
    margin-left: 5em;
}

.info-content:hover .hover-content {
    opacity: 1;
    visibility: visible;
}

/* Ocultar el texto al hacer hover */
.info-content:hover .info-description {
    opacity: 0; /* O bien visibility: hidden; para que desaparezca */
}

/* Botones en hover */
.buttons {
    display: flex;
    gap: 1em;
    border: #000000;
    margin-top: 2em;
    padding-top: 3em;
    margin-left: auto; /* Empuja los botones hacia la derecha */
    padding-right: 2em; /* Espacio adicional para separarlos del borde derecho */
}

.learn-more, .order-now {
    padding: 0.25em 1em;
    border-radius: 2em;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.learn-more:hover, .order-now:hover {
    background-color: #F5ACBC;
    color: #000000;
}

/*DONUT DE CHOCOLATE */

.section-title2 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif;
    padding-top: 1em;
}
  
  /* Contenedor para imagen y texto alineados horizontalmente */
  .info-content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3em;
    position: relative;
    background-color:#fbe6e8;
    flex-direction: row-reverse;


  }
  
  /* Imagen a la izquierda */
  .info-image2 {
    width: 30%;
    position: relative;
    z-index: 2; /* Coloca el donut por encima del recuadro */
  }
  
  /* Título y descripción */
  .info-heading2 {
    font-size: 2.5em;
    color: #000000; /* Color del título */
    margin: 0;
    font-family:'Lilita One', sans-serif ;
    text-align: left;
    position: relative;
    z-index: 2; /* Coloca el título por encima del recuadro */
  }
  
  .info-description2 {
    font-size: 1em;
    color: #000000;
    line-height: 1.5;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: left;
  }


/* Hover content */
.hover-content2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 55%;
    background-color: #BF7B5C; /* Color rosado sólido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 2em;
    margin-top: 5.5em;
    margin-right: 5em;
}

.info-content2:hover .hover-content2 {
    opacity: 1;
    visibility: visible;
}

/* Ocultar el texto al hacer hover */
.info-content2:hover .info-description2 {
    opacity: 0; /* O bien visibility: hidden; para que desaparezca */
}

/* Botones en hover */
.buttons2 {
    display: flex;
    gap: 1em;
    border: #000000;
    margin-top: 2em;
    padding-top: 3em;
    margin-right: auto; /* Empuja los botones hacia la derecha */
    padding-left: 2em; /* Espacio adicional para separarlos del borde derecho */
}

.learn-more2, .order-now2 {
    padding: 0.25em 1em;
    border-radius: 2em;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.learn-more2:hover, .order-now2:hover {
    background-color: #D5A995;
    color: #000000;
}
 
/* GALLETA */
 /* Estilo para el título de la sección */
 .section-title3 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif;
    padding-top: 1em;
}
  
  /* Contenedor para imagen y texto alineados horizontalmente */
  .info-content3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3em;
    position: relative;
  }
  
  /* Imagen a la izquierda */
  .info-image3 {
    width: 30%;
    position: relative;
    z-index: 2; /* Coloca el donut por encima del recuadro */
  }
  
  /* Título y descripción */
  .info-heading3 {
    font-size: 2.5em;
    color: #000000; /* Color del título */
    margin: 0;
    font-family:'Lilita One', sans-serif ;
    text-align: right;
    position: relative;
    z-index: 2; /* Coloca el título por encima del recuadro */
  }
  
  .info-description3 {
    font-size: 1em;
    color: #000000;
    line-height: 1.5;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: right;
  }

  .info-section3 {
    position: relative; /* Necesario para el pseudo-elemento */
    padding: 2rem 5%; /* Mantén tu padding existente */
    text-align: center;
    background-color: #fbe6e8; /* Color de fondo de la sección */
}

/* Hover content */
.hover-content3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 55%;
    background-color: #F6D7A5; /* Color rosado sólido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 2em;
    margin-top: 5.5em;
    margin-left: 5em;
}

.info-content3:hover .hover-content3 {
    opacity: 1;
    visibility: visible;
}

/* Ocultar el texto al hacer hover */
.info-content3:hover .info-description3 {
    opacity: 0; /* O bien visibility: hidden; para que desaparezca */
}

/* Botones en hover */
.buttons3 {
    display: flex;
    gap: 1em;
    border: #000000;
    margin-top: 2em;
    padding-top: 3em;
    margin-left: auto; /* Empuja los botones hacia la derecha */
    padding-right: 2em; /* Espacio adicional para separarlos del borde derecho */
}

.learn-more3, .order-now3 {
    padding: 0.25em 1em;
    border-radius: 2em;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.learn-more3:hover, .order-now3:hover {
    background-color: #F9E5C4;
    color: #000000;
}

 /* CARAMELO */

.section-title4 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif;
    padding-top: 1em;
}
  
  /* Contenedor para imagen y texto alineados horizontalmente */
  .info-content4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3em;
    position: relative;
    background-color:#fbe6e8;
    flex-direction: row-reverse;


  }
  
  /* Imagen a la izquierda */
  .info-image4 {
    width: 30%;
    position: relative;
    z-index: 2; /* Coloca el donut por encima del recuadro */
  }
  
  /* Título y descripción */
  .info-heading4 {
    font-size: 2.5em;
    color: #000000; /* Color del título */
    margin: 0;
    font-family:'Lilita One', sans-serif ;
    text-align: left;
    position: relative;
    z-index: 2; /* Coloca el título por encima del recuadro */
  }
  
  .info-description4 {
    font-size: 1em;
    color: #000000;
    line-height: 1.5;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: left;
  }


/* Hover content */
.hover-content4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 55%;
    background-color: #BD5E16; /* Color rosado sólido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 2em;
    margin-top: 5.5em;
    margin-right: 5em;
}

.info-content4:hover .hover-content4 {
    opacity: 1;
    visibility: visible;
}

/* Ocultar el texto al hacer hover */
.info-content4:hover .info-description4 {
    opacity: 0; /* O bien visibility: hidden; para que desaparezca */
}

/* Botones en hover */
.buttons4 {
    display: flex;
    gap: 1em;
    border: #000000;
    margin-top: 2em;
    padding-top: 3em;
    margin-right: auto; /* Empuja los botones hacia la derecha */
    padding-left: 2em; /* Espacio adicional para separarlos del borde derecho */
}

.learn-more4, .order-now4 {
    padding: 0.25em 1em;
    border-radius: 2em;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.learn-more4:hover, .order-now4:hover {
    background-color: #D49668;
    color: #000000;
}

/* PISTACHO */
 /* Estilo para el título de la sección */
 .section-title5 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif;
    padding-top: 1em;
}
  
  /* Contenedor para imagen y texto alineados horizontalmente */
  .info-content5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3em;
    position: relative;
  }
  
  /* Imagen a la izquierda */
  .info-image5 {
    width: 30%;
    position: relative;
    z-index: 2; /* Coloca el donut por encima del recuadro */
  }
  
  /* Título y descripción */
  .info-heading5 {
    font-size: 2.5em;
    color: #000000; /* Color del título */
    margin: 0;
    font-family:'Lilita One', sans-serif ;
    text-align: right;
    position: relative;
    z-index: 2; /* Coloca el título por encima del recuadro */
  }
  
  .info-description5 {
    font-size: 1em;
    color: #000000;
    line-height: 1.5;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: right;
  }

  .info-section5 {
    position: relative; /* Necesario para el pseudo-elemento */
    padding: 2rem 5%; /* Mantén tu padding existente */
    text-align: center;
    background-color: #fbe6e8; /* Color de fondo de la sección */
}

/* Hover content */
.hover-content5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 55%;
    background-color: #A2981C; /* Color rosado sólido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 2em;
    margin-top: 5.5em;
    margin-left: 5em;
}

.info-content5:hover .hover-content5 {
    opacity: 1;
    visibility: visible;
}

/* Ocultar el texto al hacer hover */
.info-content5:hover .info-description5 {
    opacity: 0; /* O bien visibility: hidden; para que desaparezca */
}

/* Botones en hover */
.buttons5 {
    display: flex;
    gap: 1em;
    border: #000000;
    margin-top: 2em;
    padding-top: 3em;
    margin-left: auto; /* Empuja los botones hacia la derecha */
    padding-right: 2em; /* Espacio adicional para separarlos del borde derecho */
}

.learn-more5, .order-now5 {
    padding: 0.25em 1em;
    border-radius: 2em;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.learn-more5:hover, .order-now5:hover {
    background-color: #C3BC6B;
    color: #000000;
}

 /* ALGODÓN DE AZÚCAR */

 .section-title6 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif;
    padding-top: 1em;
}
  
  /* Contenedor para imagen y texto alineados horizontalmente */
  .info-content6 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3em;
    position: relative;
    background-color:#fbe6e8;
    flex-direction: row-reverse;


  }
  
  /* Imagen a la izquierda */
  .info-image6 {
    width: 30%;
    position: relative;
    z-index: 2; /* Coloca el donut por encima del recuadro */
  }
  
  /* Título y descripción */
  .info-heading6 {
    font-size: 2.5em;
    color: #000000; /* Color del título */
    margin: 0;
    font-family:'Lilita One', sans-serif ;
    text-align: left;
    position: relative;
    z-index: 2; /* Coloca el título por encima del recuadro */
  }
  
  .info-description6 {
    font-size: 1em;
    color: #000000;
    line-height: 1.5;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: left;
  }


/* Hover content */
.hover-content6 {
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 55%;
    background-color: #F8B5BF; /* Color rosado sólido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 2em;
    margin-top: 5.5em;
    margin-right: 5em;
}

.info-content6:hover .hover-content6 {
    opacity: 1;
    visibility: visible;
}

/* Ocultar el texto al hacer hover */
.info-content6:hover .info-description6 {
    opacity: 0; /* O bien visibility: hidden; para que desaparezca */
}

/* Botones en hover */
.buttons6 {
    display: flex;
    gap: 1em;
    border: #000000;
    margin-top: 2em;
    padding-top: 3em;
    margin-right: auto; /* Empuja los botones hacia la derecha */
    padding-left: 2em; /* Espacio adicional para separarlos del borde derecho */
}

.learn-more6, .order-now6 {
    padding: 0.25em 1em;
    border-radius: 2em;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.learn-more6:hover, .order-now6:hover {
    background-color: #FACFD5;
    color: #000000;
}

/* NARANJA */
 /* Estilo para el título de la sección */
 .section-title7 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif;
    padding-top: 1em;
}
  
  /* Contenedor para imagen y texto alineados horizontalmente */
  .info-content7 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3em;
    position: relative;
  }
  
  /* Imagen a la izquierda */
  .info-image7 {
    width: 30%;
    position: relative;
    z-index: 2; /* Coloca el donut por encima del recuadro */
  }
  
  /* Título y descripción */
  .info-heading7 {
    font-size: 2.5em;
    color: #000000; /* Color del título */
    margin: 0;
    font-family:'Lilita One', sans-serif ;
    text-align: right;
    position: relative;
    z-index: 2; /* Coloca el título por encima del recuadro */
  }
  
  .info-description7 {
    font-size: 1em;
    color: #000000;
    line-height: 1.5;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: right;
  }

  .info-section7 {
    position: relative; /* Necesario para el pseudo-elemento */
    padding: 2rem 5%; /* Mantén tu padding existente */
    text-align: center;
    background-color: #fbe6e8; /* Color de fondo de la sección */
}

/* Hover content */
.hover-content7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 55%;
    background-color: #DC7101; /* Color rosado sólido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 2em;
    margin-top: 5.5em;
    margin-left: 5em;
}

.info-content7:hover .hover-content7 {
    opacity: 1;
    visibility: visible;
}

/* Ocultar el texto al hacer hover */
.info-content7:hover .info-description7 {
    opacity: 0; /* O bien visibility: hidden; para que desaparezca */
}

/* Botones en hover */
.buttons7 {
    display: flex;
    gap: 1em;
    border: #000000;
    margin-top: 2em;
    padding-top: 3em;
    margin-left: auto; /* Empuja los botones hacia la derecha */
    padding-right: 2em; /* Espacio adicional para separarlos del borde derecho */
}

.learn-more7, .order-now7 {
    padding: 0.25em 1em;
    border-radius: 2em;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.learn-more7:hover, .order-now7:hover {
    background-color: #E8A35A;
    color: #000000;
}

 /* LIMÓN */

 .section-title8 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif;
    padding-top: 1em;
}
  
  /* Contenedor para imagen y texto alineados horizontalmente */
  .info-content8 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3em;
    position: relative;
    background-color:#fbe6e8;
    flex-direction: row-reverse;


  }
  
  /* Imagen a la izquierda */
  .info-image8 {
    width: 30%;
    position: relative;
    z-index: 2; /* Coloca el donut por encima del recuadro */
  }
  
  /* Título y descripción */
  .info-heading8 {
    font-size: 2.5em;
    color: #000000; /* Color del título */
    margin: 0;
    font-family:'Lilita One', sans-serif ;
    text-align: left;
    position: relative;
    z-index: 2; /* Coloca el título por encima del recuadro */
  }
  
  .info-description8 {
    font-size: 1em;
    color: #000000;
    line-height: 1.5;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: left;
  }


/* Hover content */
.hover-content8 {
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 55%;
    background-color: #EDD62F; /* Color rosado sólido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 2em;
    margin-top: 5.5em;
    margin-right: 5em;
}

.info-content8:hover .hover-content8 {
    opacity: 1;
    visibility: visible;
}

/* Ocultar el texto al hacer hover */
.info-content8:hover .info-description8 {
    opacity: 0; /* O bien visibility: hidden; para que desaparezca */
}

/* Botones en hover */
.buttons8 {
    display: flex;
    gap: 1em;
    border: #000000;
    margin-top: 2em;
    padding-top: 3em;
    margin-right: auto; /* Empuja los botones hacia la derecha */
    padding-left: 2em; /* Espacio adicional para separarlos del borde derecho */
}

.learn-more8, .order-now8 {
    padding: 0.25em 1em;
    border-radius: 2em;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.learn-more8:hover, .order-now8:hover {
    background-color: #F3E478;
    color: #000000;
}

/* FRUTOS ROJOS */
 /* Estilo para el título de la sección */
 .section-title9 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif;
    padding-top: 1em;
}
  
  /* Contenedor para imagen y texto alineados horizontalmente */
  .info-content9 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3em;
    position: relative;
  }
  
  /* Imagen a la izquierda */
  .info-image9 {
    width: 30%;
    position: relative;
    z-index: 2; /* Coloca el donut por encima del recuadro */
  }
  
  /* Título y descripción */
  .info-heading9 {
    font-size: 2.5em;
    color: #000000; /* Color del título */
    margin: 0;
    font-family:'Lilita One', sans-serif ;
    text-align: right;
    position: relative;
    z-index: 2; /* Coloca el título por encima del recuadro */
  }
  
  .info-description9 {
    font-size: 1em;
    color: #000000;
    line-height: 1.5;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: right;
  }

  .info-section9 {
    position: relative; /* Necesario para el pseudo-elemento */
    padding: 2rem 5%; /* Mantén tu padding existente */
    text-align: center;
    background-color: #fbe6e8; /* Color de fondo de la sección */
}

/* Hover content */
.hover-content9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 55%;
    background-color: #7C97B3; /* Color rosado sólido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 2em;
    margin-top: 5.5em;
    margin-left: 5em;
}

.info-content9:hover .hover-content9 {
    opacity: 1;
    visibility: visible;
}

/* Ocultar el texto al hacer hover */
.info-content9:hover .info-description9 {
    opacity: 0; /* O bien visibility: hidden; para que desaparezca */
}

/* Botones en hover */
.buttons9 {
    display: flex;
    gap: 1em;
    border: #000000;
    margin-top: 2em;
    padding-top: 3em;
    margin-left: auto; /* Empuja los botones hacia la derecha */
    padding-right: 2em; /* Espacio adicional para separarlos del borde derecho */
}

.learn-more9, .order-now9 {
    padding: 0.25em 1em;
    border-radius: 2em;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.learn-more9:hover, .order-now9:hover {
    background-color: #AABBCE;
    color: #000000;
}

 /* LOTUS */

 .section-title10 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif;
    padding-top: 1em;
}
  
  /* Contenedor para imagen y texto alineados horizontalmente */
  .info-content10 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3em;
    position: relative;
    background-color:#fbe6e8;
    flex-direction: row-reverse;


  }
  
  /* Imagen a la izquierda */
  .info-image10 {
    width: 30%;
    position: relative;
    z-index: 2; /* Coloca el donut por encima del recuadro */
  }
  
  /* Título y descripción */
  .info-heading10 {
    font-size: 2.5em;
    color: #000000; /* Color del título */
    margin: 0;
    font-family:'Lilita One', sans-serif ;
    text-align: left;
    position: relative;
    z-index: 2; /* Coloca el título por encima del recuadro */
  }
  
  .info-description10 {
    font-size: 1em;
    color: #000000;
    line-height: 1.5;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: left;
  }


/* Hover content */
.hover-content10 {
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 55%;
    background-color: #DDB280; /* Color rosado sólido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 2em;
    margin-top: 5.5em;
    margin-right: 5em;
}

.info-content10:hover .hover-content10 {
    opacity: 1;
    visibility: visible;
}

/* Ocultar el texto al hacer hover */
.info-content10:hover .info-description10 {
    opacity: 0; /* O bien visibility: hidden; para que desaparezca */
}

/* Botones en hover */
.buttons10 {
    display: flex;
    gap: 1em;
    border: #000000;
    margin-top: 2em;
    padding-top: 3em;
    margin-right: auto; /* Empuja los botones hacia la derecha */
    padding-left: 2em; /* Espacio adicional para separarlos del borde derecho */
}

.learn-more10, .order-now10 {
    padding: 0.25em 1em;
    border-radius: 2em;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.learn-more10:hover, .order-now10:hover {
    background-color: #E9CDAC;
    color: #000000;
}

/* sponsor */

/* Contenedor principal */
.sponsor-marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: #9D8189; /* Fondo opcional */
  padding-top: 1em;
}

/* Pista de elementos con animación */
.sponsor-track {
  display: inline-flex;
  animation: scroll 60s linear infinite;
  padding-bottom: 1em;
}

/* Elementos individuales de texto */
.sponsor-item {
  display: inline-block;
  margin: 0 2em; /* Espacio entre textos */
  font-size: 1.2em;
  color: #FBE5E9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
  font-family: 'Lilita One', sans-serif;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

/* Animación continua */
@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); } /* Se desplaza hasta la mitad del contenedor duplicado */
}


/* FOOTER */
.line {
    height: 2px;
    background-color: #9D8189;
    width: 100%;
}

.text-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    gap: 10px;
    padding: 40px;
    padding-top: 90px;
    margin-right: 27%;
    margin-left: 27%;
}

.column {
    padding: 10px;
}

h3{
    font-family: 'Poppins', sans-serif !important;
    font-size: 0.7em !important;
    font-weight: 400;
    text-align: center;
}

h3.bold{
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
}

.social-media{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-right: 40%;
    margin-left: 40%;
    padding-bottom: 70px;

}

.column-sm{
    text-align: center;
}

.privacy-policy{
    background-color: #DDB280 !important;
    padding-bottom: 3em;
}

footer{
    background-color: #FBE5E9 ;
}




/* RESPONISVE */
/* pantalla grande */
@media (min-width: 1366px) and (max-width: 2560px) {
  .donut-text img {
    max-width: 60%;
  }
  .donut-image img {
    max-width: 65%;
  }
  .info-section {
    padding-bottom: 7em;
  }

  /* RESPONSIVE IPHONE 12 PRO*/
@media (max-width: 767px)  {
    
  .section-title {
      font-size: 2.5em;
      margin-bottom: 1.5em;
      color: #9D8189;
      font-family: 'Lilita One', sans-serif;
  }
  

  .navbar-nav.me-auto {
      margin-left: 2em !important;
  }

  .navbar .dropdown-menu {
      background-color: #F4ACB7;
      border: 2px solid #9D8189;
      border-radius: 8px;
      box-shadow: .5em 0.5em 0.5em #4e3f43;
      width: 10%;
  }

  .text-footer {
      display: flex !important;
      grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
      flex-wrap: wrap;
      padding-top: 2em !important;
      justify-content: center;
  }
  .social-media {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 2em;
      margin-right: 40%;
      margin-left: 40%;
      padding-bottom: 70px;
      justify-content: center;
  }
  
  img, svg {
      vertical-align: middle;
      width: 80%;
  }
  .row-policy{
      padding-top: 1em;
  }
  
}  

/* RESPONSIVE IPAD MINI*/
@media (min-width: 768px) and (max-width: 1024px) {

  .navbar-nav.me-auto {
      margin-left: 4em !important;
  }

  .navbar .dropdown-menu {
      background-color: #F4ACB7;
      border: 2px solid #9D8189;
      border-radius: 8px;
      box-shadow: .5em 0.5em 0.5em #4e3f43;
      width: 10%;
  }

  .text-footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
      gap: 10px;
      padding: 40px;
      padding-top: 90px;
      margin-right: 27%;
      margin-left: 27%;
      justify-content: center;
  }

  .social-media {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 2em;
      margin-right: 40%;
      margin-left: 40%;
      padding-bottom: 70px;
      justify-content: center;
  }
}
}