body{
    background-color: #FBE5E9;
}


/* PRODUCTO */
#product{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 3em;
    background-color: #EF7F98;
    
}
.column-donut-foto{
    width: 33%;
    margin-left: 8em;
    margin-right: 4em;
}
.column-donut-foto > img{
    width: 85%;
    height: auto;
}

.row-donut-title{
    padding-top: 2em;
}

.row-donut-title > h1{
    font-family: 'Lilita One', sans-serif;
    font-size: 4.2em ;
    margin-bottom: 0.4em;
}

.column-donut{
    width: 37%;
}
.row-donut > h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 3em;
}

.btn-order {
    font-family: 'Poppins', sans-serif;
    background-color: #EF7F98;
    border: 2px solid #000;
    border-radius: 25px; 
    padding: 10px 40px 10px 40px;
    cursor: pointer;
}
/* hover */
.btn-order:hover {
    background-color: #eaafbc;
}

/* fav */
#toggle-img {
    cursor: pointer;       
    width: 7%;
    margin-left: 3em;
    padding-bottom: 0.4em;      
    height: auto;          
    transition: transform 0.3s; 
}
#toggle-img:active {
    transform: scale(1.); 
}

/* puntuación */
.stars {
    color: white;
    padding-top: 3em;
}
.stars > i{
    font-size: 2em;
}

/* ondas rosas */
.ondas > img{
    width: 100%;
    height: auto;
}
.ondas{
    background-color: #FBE5E9;
}



/* INGREDIENTES Y ALERGIAS */
.accordion {
    width: 50%;            
    margin: 0 auto;
    border: 4px solid #EF7F98;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 4em;
    margin-bottom: 4em;
}

.custom-accordion-body {
    font-size: 1.1em !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight:400 !important;
}



/* FOOTER  */
.line {
    height: 2px;
    background-color: #9D8189;
    width: 100%;
}

.text-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    gap: 10px;
    padding: 40px;
    padding-top: 90px;
    margin-right: 27%;
    margin-left: 27%;
}

.column {
    padding: 10px;
}

h3{
    font-family: 'Poppins', sans-serif !important;
    font-size: 0.7em !important;
    font-weight: 400;
    text-align: center;
}

h3.bold{
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
}

.social-media{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-right: 40%;
    margin-left: 40%;
    padding-bottom: 70px;

}

.column-sm{
    text-align: center;
}

.privacy-policy{
    background-color: #DDB280 !important;
    padding-bottom: 3em;
}

footer{
    background-color: #FBE5E9 ;
}