
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #D6A7B0;
}

/* MENÚ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9E7B85; /* Color del menú */
    padding: 1em 3em; /* Ajusta el padding para espacio arriba y abajo */

}

.navbar-brand {
    color: #D6A7B0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    font-family: 'Lilita One', sans-serif;
    padding-left: 1.5em;
    font-size: 18px
}

.navbar-nav.me-auto {
    margin-left: 20em;
}

.navbar-nav.me-auto .nav-item:not(:last-child) {
    margin-right: 6em; /* Aumenta este valor para controlar el espacio entre los enlaces */
}

/* Cambia el color de los enlaces al pasar el ratón */
.navbar .nav-link:hover {
  color: #F5D1DB !important; /* Cambia a tu color preferido */
  transition: color 0.3s ease; /* Suaviza el cambio de color */
}

/* Cambia el color del enlace activo también */
.navbar .nav-link.active:hover {
  color: #0000008C !important; /* Cambia a tu color preferido */
}

/* Estilo del menú desplegable */
.navbar .dropdown-menu {
  background-color: #F4ACB7; /* Color de fondo */
  border: 2px solid #9D8189;
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 1em 1em 1em #4e3f43; /* Sombra */
}

/* Estilo de cada elemento del menú */
.navbar .dropdown-menu .dropdown-item {
  color: #0000008C; /* Color de texto */
  padding: 0.5em 1.5em; /* Espaciado interno */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición para el hover */
}

/* Hover para los elementos del menú */
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #FF85A2; /* Color de fondo al pasar el ratón */
  color: #fff; /* Color del texto al pasar el ratón */
}

/* ACORDEÓN */

/* Estilo para el botón de encabezado del acordeón */
.accordion-button {
    color: #EF7F98 !important; /* Color del texto */
    background-color: #FFCAD4 !important; /* Color de fondo */
    border: 1px solid #EF7F98 !important; /* Color del borde */
    font-family: 'Lilita One', sans-serif !important;
    font-size: 0.7em !important;
}

/* Cambiar el color del icono de despliegue (flecha) */
.accordion-button::after {
    color: #EF7F98 !important; /* Cambia directamente el color del icono */
    filter: none; /* Elimina cualquier filtro de color aplicado */
}

/* Asegúrate de que el estado del botón no colisione */
.accordion-button:not(.collapsed)::after {
    color: #EF7F98 !important; /* Asegúrate de que se aplique también cuando está expandido */
}



/* sponsor */

/* Contenedor principal */
.sponsor-marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #9D8189; /* Fondo opcional */
    padding: 1em 0;
  }
  
  /* Pista de elementos con animación */
  .sponsor-track {
    display: inline-flex;
    animation: scroll 60s linear infinite;
    padding-bottom: 1em;
  }
  
  /* Elementos individuales de texto */
  .sponsor-item {
    display: inline-block;
    margin: 0 2em; /* Espacio entre textos */
    font-size: 1.2em;
    color: #FBE5E9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    font-family: 'Lilita One', sans-serif;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  /* Animación continua */
  @keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); } /* Se desplaza hasta la mitad del contenedor duplicado */
  }
  



/* PRODUCTO */
#product{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 3em;
    background-color: #DC7101;

}
.column-donut-foto{
    width: 33%;
    height: auto;
    margin-left: 4em;
    margin-right: 10em;
}
.column-donut-foto > img{
    width: 120%;
    height: auto;
}

.row-donut-title{
    padding-top: 2em;
}

.row-donut-title > h1{
    font-family: 'Lilita One', sans-serif;
    font-size: 4.2em ;
    margin-bottom: 0.4em;
}

.column-donut{
    width: 37%;
}
.row-donut > h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 3em;
}

.btn-order {
    font-family: 'Poppins', sans-serif;
    background-color: #DC7101;
    border: 2px solid #000;
    border-radius: 25px; 
    padding: 10px 40px 10px 40px;
    cursor: pointer;
}
/* hover */
.btn-order:hover {
    background-color: #dea666;
}

.row-donut > img{
    width: 7%;
    margin-left: 3em;
    padding-bottom: 0.4em;
    cursor: pointer;
}

.stars {
    color: white;
    padding-top: 3em;
}

.stars > i{
    font-size: 2em;
}

.ondas > img{
    width: 100%;
    height: auto;
}
.ondas{
    background-color: #FBE5E9;
}


/* INGREDIENTES Y ALERGIAS */
.button.accordion-button.collapsed{
color: #EF7F98;
background-color: #FFCAD4;
}



/* REVIEWS */
#reviews{
    background-color: #FBE5E9;
}
.section-title {
    font-size: 3em;
    margin-bottom: 1em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif;
    padding-top: 1em;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
}

.card{
    margin: 0 0.5em 5em 0.5em;
    box-shadow: 1em 1em 1em #9D8189;
    border-radius: 4em;
}

.card > i{
    font-size: 3em;
}

/* CARRUSEL */
#carrusel {
    background-color: #FBE5E9;
    padding-top: 4em;
    
}

.swiper-container {
    width: 100vw; 
    height: 50vh; 
    overflow: hidden; 
    position: relative;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex: 0 0 auto; 
    width: calc(100% / 4); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


/* FOOTER  */
.line {
    height: 2px;
    background-color: #9D8189;
    width: 100%;
}

.text-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    gap: 10px;
    padding: 40px;
    padding-top: 90px;
    margin-right: 27%;
    margin-left: 27%;
}

.column {
    padding: 10px;
}

h3{
    font-family: 'Poppins', sans-serif !important;
    font-size: 0.7em !important;
    font-weight: 400;
    text-align: center;
}

h3.bold{
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
}

.social-media{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-right: 40%;
    margin-left: 40%;
    padding-bottom: 70px;

}

.column-sm{
    text-align: center;
}

.privacy-policy{
    background-color: #DDB280 !important;
    padding-bottom: 3em;
}

footer{
    background-color: #FBE5E9 ;
}

/* RESPONSIVE IPHONE 12 PRO*/
@media (max-width: 767px)  {
    
    #product {
        display: flex;
        padding: 2em;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav.me-auto {
        margin-left: 2em !important;
    }

    .navbar .dropdown-menu {
        background-color: #F4ACB7;
        border: 2px solid #9D8189;
        border-radius: 8px;
        box-shadow: .5em 0.5em 0.5em #4e3f43;
        width: 10%;
    }

    .row-donut-title > h1 {
        font-family: 'Lilita One', sans-serif;
        font-size: 3em;
    }

    .column-donut-foto > img {
        width: 160%;
        height: auto;
    }

    .column-donut {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .column-donut-foto {
        width: 50%;
        height: auto;
    
    }
    .row-donut > h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1em;
        margin-bottom: 3em;
        margin-top: 1em;
        text-align: center;
        justify-content: center;
    }

    .row-donut {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .row-donut > img {
        width: 2.5em;
        margin-left: 3em;
        cursor: pointer;
    }

    #accordionExample1.accordion{
        background-color: #fbe5e9;
        padding: 4em 2em !important;
    }

    #accordionExample2.accordion{
        background-color: #fbe5e9;
        padding: 4em 2em !important;
        padding-top: 0em !important;
    }

    .cards {
        display: flex;
        justify-content: space-around;
        margin: 0em 4em;
        flex-direction: column;
        align-items: center;
    }

    .swiper-container {

        height: auto; 
        overflow: hidden; 
        position: relative;
    }

    .swiper-slide img {
        width: 100%;
        height: auto;
        object-fit: cover; 
    }

    #carrusel {
        background-color: #FBE5E9;
        padding-top: 0em;
        padding-bottom: 4em;
    }

    .text-footer {
        display: flex !important;
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
        flex-wrap: wrap;
        padding-top: 2em !important;
    }

    .social-media {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2em;
        margin-right: 40%;
        margin-left: 40%;
        padding-bottom: 70px;
        justify-content: center;
    }
    
    img, svg {
        vertical-align: middle;
        width: 80%;
    }
    .row-policy{
        padding-top: 1em;
    }
}  

/* RESPONSIVE IPAD MINI*/
@media (min-width: 768px) and (max-width: 1024px) {

    .navbar-nav.me-auto {
        margin-left: 9em !important;
    }

    .navbar .dropdown-menu {
        background-color: #F4ACB7;
        border: 2px solid #9D8189;
        border-radius: 8px;
        box-shadow: .5em 0.5em 0.5em #4e3f43;
        width: 10%;
    }

    .column-donut-foto {
        width: 35%;
        height: auto;
        margin-left: 3em;
        margin-right: 8em;
    }

    .row-donut-title > h1 {
        font-family: 'Lilita One', sans-serif;
        font-size: 3em;
        margin-bottom: 0.4em;
    }

    #accordionExample1.accordion{
        background-color: #fbe5e9;
        padding: 4em 6em !important;
    }

    #accordionExample2.accordion{
        background-color: #fbe5e9;
        padding: 4em 6em !important;
        padding-top: 0em !important;
    }

    #product {
        display: flex;
        flex-wrap: nowrap;
        padding-top: 3em;
        padding-bottom: 2em;;
    }

    .row-donut > img {
        width: 15%;
        margin-left: 3em;
        /* padding-bottom: 0.4em; */
        cursor: pointer;
    }

    .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .swiper-container {

        height: auto; 
        overflow: hidden; 
        position: relative;
    }

    .swiper-slide img {
        width: 100%;
        height: auto;
        object-fit: cover; 
    }

    #carrusel {
        background-color: #FBE5E9;
        padding-bottom: 4em;
    }

    .text-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
        gap: 10px;
        padding: 40px;
        padding-top: 90px;
        margin-right: 27%;
        margin-left: 27%;
        justify-content: center;
    }

    .social-media {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2em;
        margin-right: 40%;
        margin-left: 40%;
        padding-bottom: 70px;
        justify-content: center;
    }
}