
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #D6A7B0;
}

/* MENÚ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9E7B85; /* Color del menú */
    padding: 1em 3em; /* Ajusta el padding para espacio arriba y abajo */

}

.navbar-brand {
    color: #D6A7B0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    font-family: 'Lilita One', sans-serif;
    padding-left: 1.5em;
    font-size: 18px
}

.navbar-nav.me-auto {
    margin-left: 20em;
}

.navbar-nav.me-auto .nav-item:not(:last-child) {
    margin-right: 6em; /* Aumenta este valor para controlar el espacio entre los enlaces */
}

/* Cambia el color de los enlaces al pasar el ratón */
.navbar .nav-link:hover {
  color: #F5D1DB !important; /* Cambia a tu color preferido */
  transition: color 0.3s ease; /* Suaviza el cambio de color */
}

/* Cambia el color del enlace activo también */
.navbar .nav-link.active:hover {
  color: #0000008C !important; /* Cambia a tu color preferido */
}

/* Estilo del menú desplegable */
.navbar .dropdown-menu {
  background-color: #F4ACB7; /* Color de fondo */
  border: 2px solid #9D8189;
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 1em 1em 1em #4e3f43; /* Sombra */
}

/* Estilo de cada elemento del menú */
.navbar .dropdown-menu .dropdown-item {
  color: #0000008C; /* Color de texto */
  padding: 0.5em 1.5em; /* Espaciado interno */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición para el hover */
}

/* Hover para los elementos del menú */
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #FF85A2; /* Color de fondo al pasar el ratón */
  color: #fff; /* Color del texto al pasar el ratón */
}

/* Separador del menú */
.navbar .dropdown-menu .dropdown-divider {
  border-color: #FFB6C1; /* Color del separador */
}



/* BOTONES */
/* Estilos de la sección */
.custom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4em 9em;
    background-color: #FBE5E9;
}

/* Estilo del título */
.section-title {
    font-size: 3em;
    margin-bottom: 1.5em;
    color: #9D8189;
    font-family: 'Lilita One', sans-serif ;
}

/* Contenedor de botones */
.button-container {
    display: flex;
    gap: 4em;
}

/* Estilo de cada botón */
.custom-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 100%;
    height: auto;
    background-color: #F4ACB7;
    box-shadow: 1em 1em 1em #9D8189;
    border-radius: 3em;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-bottom: 1em;
    border: 4px solid #9D8189;
}


/* Sombra y efecto al pasar el mouse */
.custom-button {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-button:hover {
    transform: scale(1.05); /* Agranda el botón un 5% */
    box-shadow: 2em 2em 2em #9D8189; /* Aumenta la sombra al pasar el mouse */
}

/* Estilo de la imagen dentro del botón */
.custom-button img {
    width: 100%; /* Tamaño reducido de la imagen */
    height: auto; /* Tamaño reducido de la imagen */
    margin-bottom: 0.5em;
}

/* Estilo del texto dentro del botón */
.button-text {
    font-size: 1.5em;
    color: #000000;
    margin-top: 0.3em;
    text-align: center;
    font-family: 'Lilita One', sans-serif;
}

/* FOOTER  */
.line {
    height: 2px;
    background-color: #9D8189;
    width: 100%;
}

.text-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    gap: 10px;
    padding: 40px;
    padding-top: 90px;
    margin-right: 27%;
    margin-left: 27%;
}

.column {
    padding: 10px;
}

h3{
    font-family: 'Poppins', sans-serif !important;
    font-size: 0.7em !important;
    font-weight: 400;
    text-align: center;
}

h3.bold{
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
}

.social-media{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-right: 40%;
    margin-left: 40%;
    padding-bottom: 70px;

}

.column-sm{
    text-align: center;
}

.privacy-policy{
    background-color: #DDB280 !important;
    padding-bottom: 3em;
}

footer{
    background-color: #FBE5E9 ;
}